:root {
  --bs-primary-bg-subtle: #000c36;
  --bs-body-color: #fff;
  --bs-border-color: #dee2e6;
  --bs-body-font-family: 'Roboto Slab', sans-serif;
}

$input-bg-color: #3b4877;
$button-bg-color: #51e08a;
