<div class="d-flex flex-column align-items-center justify-content-center gap-2 bg-primary-subtle">
  @if (isLoading()) {
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading recommendation...</span>
    </div>
  } @else if (movie) {
    <h3 class="fw-bold">{{ movie.title }} ({{ movie.releaseYear }})</h3>
    @if (movie.poster) {
      <div class="w-100">
        <img
          [src]="movie.poster"
          [alt]="movie.title + ' Movie Poster'"
          class="w-100 h-auto rounded"
        />
      </div>
    } @else {
      <div class="alert alert-warning w-100" role="alert">
        <h4 class="m-0 text-center">No poster available</h4>
      </div>
    }
    <p>{{ movie.description }}</p>

    <div class="d-flex justify-content-start gap-2 w-100">
      <button type="button" class="btn btn-primary" routerLink="/poll">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button type="button" class="btn btn-primary" routerLink="/">
        <i class="bi bi-house"></i>
      </button>
      <button class="btn btn-primary btn-lg w-100" (click)="nextMovie()">Next Movie</button>
    </div>
  } @else {
    <div class="alert alert-warning w-100" role="alert">
      <h3>Oooops</h3>
      <p>{{ error?.error ?? 'Unknown error occurred.' }}</p>
      <div class="d-flex justify-content-start gap-2 w-100">
        <button type="button" class="btn btn-primary" routerLink="/">
          <i class="bi bi-house"></i>
        </button>
        @if (error?.canRetry) {
          <button class="btn btn-primary w-100" (click)="loadRecommendation()">Retry</button>
        }
      </div>
    </div>
  }
</div>
