<div class="d-flex flex-column align-items-center justify-content-center bg-primary-subtle">
  <img src="popcorn.svg" alt="" />
  <h2>{{ pollStep() }}</h2>

  <form
    [formGroup]="form"
    class="d-flex flex-column justify-content-center gap-4 mt-4 w-100"
    [class.was-validated]="formValidated()"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div>
      <h4>{{ favoriteMovieQuestion }}</h4>
      <textarea
        class="form-control form-control-lg"
        name="favoriteMovie"
        formControlName="favoriteMovie"
        aria-label="Favorite movie input"
        required
        maxlength="100"
      ></textarea>
    </div>

    @for (question of questionsWithOptions | keyvalue; track question) {
      <div>
        <h4>{{ question.value.caption }}</h4>
        <div
          class="d-flex flex-wrap gap-2 p-1"
          formGroupName="{{ question.key }}"
          [class.validation-error]="form.get(question.key)?.invalid && formValidated()"
        >
          @for (option of $any(question.value.options); track option) {
            <input
              class="btn-check"
              type="checkbox"
              [value]="option"
              [formControlName]="option.toLowerCase()"
              id="{{ question.key }}Option{{ $index }}"
              name="{{ question.key }}Option{{ $index }}"
            />
            <label class="btn btn-primary option-label" for="{{ question.key }}Option{{ $index }}">
              {{ option }}
            </label>
          }
        </div>
      </div>
    }

    <div>
      <h4>{{ favoritePersonQuestion }}</h4>
      <textarea
        class="form-control form-control-lg"
        name="favoritePerson"
        formControlName="favoritePerson"
        aria-label="Favorite person input"
        required
        maxlength="100"
      ></textarea>
    </div>

    <div class="d-flex gap-2 justify-content-start w-100">
      <button type="button" class="btn btn-primary" routerLink="/">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button type="submit" class="btn btn-primary btn-lg w-100">
        {{ submitCaption() }}
      </button>
    </div>
  </form>
</div>
